:root {

  -webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
html,body{
  overflow-x: hidden;
  font-size: 16px;
}
.basket-card{
  transition: all .4s linear;
}
.open{
  visibility: visible;
  opacity: 1;
}
.shadow-mm{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-thumb{
  background: #d8a706;
}
